
/* body */

body {
        margin: 0px 55px 0px 55px;
        background-color: #fff;
        font-family: Raleway;
    
    }
    
    a {
        color: #000;
        text-decoration:none;
    }
    
    a:hover {
    color: #0065fc;
    }
    
    h1 {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        padding-top: 40px;
    }
    
    h2 {
        font-weight: 700;
        font-size: 18px;
    }
    
    p {
        margin-top: 0px;
        font-size: 16px;
        line-height: 19px;
    }
    
    /* header */
    
    .headWrapper {
        display:flex;
        flex-wrap:wrap;
        position: relative;
        width: 100%;
    }
    
    
    .imgBox {
        display: flex;
        width: 30%;
        margin-top: 40px;
    }
    
    .linkBox {
        display: flex;
        width: 70%;
        justify-content: right;
        top:0;
        right: 207px;
    }
    
    .linkBox a{
        margin-right: 40px;
        padding: 48px 20px 0px 20px ;
        font-size:18px;
    }
    
    .linkBox a:hover {
        margin-right: 40px;
        border-top: 2px solid;
        border-color:#0065fc;
        padding: 46px 20px 0px 20px ;
    }

/* barre de recherche */

    .search {
        width: 100%;
        display: flex;
    
    }
    
    .searchPosition {
        width: 50px;
        height: 49px;
        background-color: #D9D9D9;
        color: #ffffff;
        text-align: center;
        border: 1px solid #D9D9D9;
        border-radius: 15px 0px 0px 15px;
        cursor: pointer;
    
    }
    
    .searchBar {
        width: 246px;
        height: 45px;
        border: 1px solid #F2F2F2;
        border-right: none;
        padding-left: 14px;
    
        font-weight: 700;
        color: #000;
        font-size: 18px;
    
    }
    
    .searchButton {
        width: 132px;
        height: 49px;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        padding: 15px 16px 15px 16px;
        cursor: pointer;
        
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    
        align-items: center;
        justify-content: center;
    }
    
    /* filtres */

.filtersFlex {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.filtersBubble {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 40px;

    padding: 4px 20px 4px 20px;
    margin: 0px 30px 0px 30px;
    border: #D9D9D9 solid 2px;
    border-radius: 25px;

    font-size: 17px;
    font-weight: 700;
}

.filtersBubble:hover {
    background-color:#D9D9D9;
}